<div class="container">
<div class="container">
  
  <h1>Review your order</h1>

  <table id="cart" class="table table-hover table-condensed">

    <thead>
      <tr>
        <th style="width:50%">Product</th>
        <th style="width:10%">Price</th>
        <th style="width:8%">Quantity</th>
        <th style="width:22%" class="text-center">Subtotal</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
  
    <tbody>

    <% @basket = current_basket %>

    <% @items_baskets.each do |chosen_items| %>

      <% if chosen_items.basket == current_basket %>
      <tr>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
            <div class="col-sm-10">
              <h4 class="nomargin"><%= chosen_items.product.name %></h4>
              <p><%= chosen_items.product.description %></p>
            </div>
          </div>
        </td>
        
        <td data-th="Price">$<%= chosen_items.product.price %></td>
        
        <td data-th="Quantity">
          

          <%= chosen_items.quantity %>

        </td>
        <td data-th="Subtotal" class="text-center">$<%= chosen_items.quantity * chosen_items.product.price %></td>
        <td class="actions" data-th="">
           <!-- f.submit "<i class=\"fa fa-refresh\"></i>".html_safe, class: "btn btn-info btn-sm" -->
        </td>
      </tr>

      <% end %>
    <% end %>
    </tbody>

    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total $<%= @basket.total_unpaid_price(@items_baskets) %></strong></td>
      </tr>
      <tr>
        <td><%= link_to 'Continue Shopping', shoppers_products_path, class: "btn btn-warning" %></td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total $<%= @basket.total_unpaid_price(@items_baskets) %></strong></td>
      
      </tr>
    </tfoot>

</table>
</div><div class="wrapper">
  <div class="checkout container">
    <div class="content">

      <header>
        <h1>Choose your payment method</h1>
      </header>

      <%= form_tag("/checkouts", method: "post", id: "payment-form") do %>
        <section>
          <label for="amount">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
            </div>
          </label>

          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>
        </section>

        <input type="hidden" id="nonce" name="payment_method_nonce" />
        <button class="button" type="submit"><span>Pay Liao Lor!</span></button>
      <% end %>

    </div>
  </div>
</div>
</div>
<script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= @client_token %>";

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });

  var checkout = new Demo({
    formID: 'payment-form'
  });
</script>
