
<%= form_for @product, url: admins_products_path, method: :post do |form| %>

<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :description %><br>
  <%= form.text_area :description %>
</p>

<p>
  <%= form.label :price %><br>
  <%= form.text_field :price %>
</p>

<p>
  <%= form.label :gender %><br>
  <%= form.text_field :gender %>
</p>

<p>
  <%= form.label :category %><br>
  <%= form.text_field :category %>
</p>

<p>
  <%= form.label :quantity %><br>
  <%= form.text_field :quantity %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
