
<%= form_for @order, url: admins_order_path(id: @order.id), method: :patch do |form| %>

<p>
  <%= form.label :user %><br>
  <%= form.text_field :user %>
</p>

<p>
  <%= form.label :payment_status %><br>
  <%= form.text_field :payment_status %>
</p>

<p>
  <%= form.label :payment_date %><br>
  <%= form.text_field :payment_date %>
</p>

<p>
  <%= form.label :amount %><br>
  <%= form.text_field :amount %>
</p>

<p>
  <%= form.label :ship_status %><br>
  <%= form.text_field :ship_status %>
</p>

<p>
  <%= form.label :ship_date %><br>
  <%= form.text_field :ship_date %>
</p>


<p>
  <%= form.submit %>
</p>
<% end %>
