<h1><%= @product.name %></h1>

<!-- picture here -->

<%= @product.description %>

<%= @product.gender %>

$<%= @product.price %>

<%= @product.category %>

<% if @product.items_basket.exists? %>

<!-- update form -->
	<% current_basket = current_user.baskets.first %>
	<% current_items_basket = ItemsBasket.find_by(basket_id: current_basket.id, product_id: @product.id) %>

	<%= form_for @items_basket, 

			url: shoppers_basket_items_basket_path(basket_id: Basket.joins(:user).where(user: current_user), items_basket_id: current_items_basket.id), 

			method: :put do |f| %>

		Current<%= f.label :quantity %>


		<%= f.number_field :quantity, placeholder: @product.items_basket.first.quantity %>

		<%= f.hidden_field :product_id, value: @product.id %>

		<%= f.submit 'Add to Cart'%>
	<% end %>

<% else %>


	<%= form_for @items_basket, 
			url: shoppers_basket_items_baskets_path(basket_id: Basket.joins(:user).where(user: current_user)), 

			method: :post do |f| %>

		New<%= f.label :quantity %>

		<%= f.number_field :quantity, placeholder: @product.quantity %>

		<%= f.hidden_field :product_id, value: @product.id %>

		<%= f.submit 'Add to Cart'%>
	<% end %>

<% end %>

<%= link_to 'Back', shoppers_products_path %>

<%= link_to 'Shopping Cart', shoppers_basket_path(basket_id: current_user.baskets.first.id) %>
